.input-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
}

.input-box-file {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px dashed #ccc;
  border-radius: 8px;
}

.sap-upload-container {
  background-color: #f9f9f9;
}


/* Home.css */

form {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f7f9fc;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  width: 100%;
  padding: 12px 14px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

form input:focus,
form textarea:focus {
  border-color: #4a90e2;
  outline: none;
  background-color: #fff;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 16px;
}

button:hover {
  background-color: #357ab8;
}
